resources/skin/soft-hitwhistle.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-key8.png filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-tab.png filter=lfs diff=lfs merge=lfs -text
resources/skin/pippidonfail0.png filter=lfs diff=lfs merge=lfs -text
resources/skin/pippidonidle0.png filter=lfs diff=lfs merge=lfs -text
resources/skin/section-pass.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taikohitcircleoverlay.png filter=lfs diff=lfs merge=lfs -text
resources/skin/cursor.png filter=lfs diff=lfs merge=lfs -text
resources/skin/drum-hitfinish.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/score-2.png filter=lfs diff=lfs merge=lfs -text
resources/skin/soft-hitnormal.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/count1s.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/drum-slidertick.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/normal-sliderwhistle.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-glow@2x.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-hit300[[:space:]]-[[:space:]]aRasu[.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-normal-hitwhistle.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/fruit-pear@2x.png filter=lfs diff=lfs merge=lfs -text
resources/skin/menu-back.png filter=lfs diff=lfs merge=lfs -text
resources/skin/soft-slidertick.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/spinner-spin.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-roll-middle.png filter=lfs diff=lfs merge=lfs -text
resources/skin/applause.mp3 filter=lfs diff=lfs merge=lfs -text
resources/skin/hit100k-0.png filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-key1.png filter=lfs diff=lfs merge=lfs -text
resources/skin/spinner-clear.png filter=lfs diff=lfs merge=lfs -text
resources/skin/score-comma.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-drum-inner.png filter=lfs diff=lfs merge=lfs -text
resources/skin/ranking-D-small.png filter=lfs diff=lfs merge=lfs -text
resources/skin/ranking-XH-small.png filter=lfs diff=lfs merge=lfs -text
resources/skin/score-5.png filter=lfs diff=lfs merge=lfs -text
resources/skin/soft-slidertick2.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/soft-sliderwhistle.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/volume-bg-effect.png filter=lfs diff=lfs merge=lfs -text
resources/skin/inputoverlay-background.png filter=lfs diff=lfs merge=lfs -text
resources/skin/play-skip.png filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-nightcore.png filter=lfs diff=lfs merge=lfs -text
resources/skin/followpoint-0.png filter=lfs diff=lfs merge=lfs -text
resources/skin/ranking-B-small.png filter=lfs diff=lfs merge=lfs -text
resources/skin/ranking-graph.png filter=lfs diff=lfs merge=lfs -text
resources/skin/fruit-drop.png filter=lfs diff=lfs merge=lfs -text
resources/skin/hit50.png filter=lfs diff=lfs merge=lfs -text
resources/skin/score-3.png filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-easy.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-hit300k.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-soft-hitclap.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/hit100k.png filter=lfs diff=lfs merge=lfs -text
resources/skin/normal-hitfinish.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/hitcircle.png filter=lfs diff=lfs merge=lfs -text
resources/skin/pause-overlay.png filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-key6.png filter=lfs diff=lfs merge=lfs -text
resources/skin/spinner-approachcircle@2x.png filter=lfs diff=lfs merge=lfs -text
resources/skin/spinner-glow.png filter=lfs diff=lfs merge=lfs -text
resources/skin/count3.png filter=lfs diff=lfs merge=lfs -text
resources/skin/fruit-orange.png filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-key4.png filter=lfs diff=lfs merge=lfs -text
resources/skin/sliderpoint30.png filter=lfs diff=lfs merge=lfs -text
resources/skin/spinner-circle.png filter=lfs diff=lfs merge=lfs -text
resources/skin/star.png filter=lfs diff=lfs merge=lfs -text
resources/skin/hitcircleoverlay.png filter=lfs diff=lfs merge=lfs -text
resources/skin/ranking-D.png filter=lfs diff=lfs merge=lfs -text
resources/skin/spinnerbonus.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/play-unranked.png filter=lfs diff=lfs merge=lfs -text
resources/skin/score-0.png filter=lfs diff=lfs merge=lfs -text
resources/skin/score-4.png filter=lfs diff=lfs merge=lfs -text
resources/skin/cursor-windows.png filter=lfs diff=lfs merge=lfs -text
resources/skin/ranking-X-small.png filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-random.png filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-relax.png filter=lfs diff=lfs merge=lfs -text
resources/skin/soft-sliderslide2.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/playfield.png filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-key7.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-roll-end.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-soft-hitfinish.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/scorebar-ki.png filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-perfect.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taikohitcircle.png filter=lfs diff=lfs merge=lfs -text
resources/skin/go.png filter=lfs diff=lfs merge=lfs -text
resources/skin/normal-hitwhistle.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-doubletime.png filter=lfs diff=lfs merge=lfs -text
resources/skin/spinner-warning.png filter=lfs diff=lfs merge=lfs -text
resources/skin/score-6.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-hit300.png filter=lfs diff=lfs merge=lfs -text
resources/skin/button-left.png filter=lfs diff=lfs merge=lfs -text
resources/skin/ready.png filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-fadein.png filter=lfs diff=lfs merge=lfs -text
resources/skin/sliderendcircle.png filter=lfs diff=lfs merge=lfs -text
resources/skin/followpoint-2.png filter=lfs diff=lfs merge=lfs -text
resources/skin/fruit-pear.png filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-hardrock.png filter=lfs diff=lfs merge=lfs -text
resources/skin/spinner-osu.png filter=lfs diff=lfs merge=lfs -text
resources/skin/spinnerspin.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/taikobigcircleoverlay.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-flower-group.png filter=lfs diff=lfs merge=lfs -text
resources/skin/count1.png filter=lfs diff=lfs merge=lfs -text
resources/skin/score-1.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-hit100.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-slider-fail@2x.png filter=lfs diff=lfs merge=lfs -text
resources/skin/soft-hitfinish.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-bar-left.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-hit300g.png filter=lfs diff=lfs merge=lfs -text
resources/skin/fruit-grapes.png filter=lfs diff=lfs merge=lfs -text
resources/skin/menuhit.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/inputoverlay-key.png filter=lfs diff=lfs merge=lfs -text
resources/skin/ranking-maxcombo.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-barline.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-bar-right.png filter=lfs diff=lfs merge=lfs -text
resources/skin/applause.wav.1 filter=lfs diff=lfs merge=lfs -text
resources/skin/cursortrail-empty.png filter=lfs diff=lfs merge=lfs -text
resources/skin/pause-continue.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-normal-hitnormal.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/ranking-B.png filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-halftime.png filter=lfs diff=lfs merge=lfs -text
resources/skin/normal-hitnormal.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/pause-back.png filter=lfs diff=lfs merge=lfs -text
resources/skin/ranking-perfect.png filter=lfs diff=lfs merge=lfs -text
resources/skin/followpoint-4.png filter=lfs diff=lfs merge=lfs -text
resources/skin/hit300g-0.png filter=lfs diff=lfs merge=lfs -text
resources/skin/pippidonclear0.png filter=lfs diff=lfs merge=lfs -text
resources/skin/ranking-S-small.png filter=lfs diff=lfs merge=lfs -text
resources/skin/count2.png filter=lfs diff=lfs merge=lfs -text
resources/skin/normal-sliderslide2.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/ranking-SH.png filter=lfs diff=lfs merge=lfs -text
resources/skin/followpoint-3.png filter=lfs diff=lfs merge=lfs -text
resources/skin/normal-slidertick.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/followpoint-5.png filter=lfs diff=lfs merge=lfs -text
resources/skin/fruit-apple-overlay.png filter=lfs diff=lfs merge=lfs -text
resources/skin/menu-snow.png filter=lfs diff=lfs merge=lfs -text
resources/skin/ranking-SH-small.png filter=lfs diff=lfs merge=lfs -text
resources/skin/score-8.png filter=lfs diff=lfs merge=lfs -text
resources/skin/hit100.png filter=lfs diff=lfs merge=lfs -text
resources/skin/hit300-0.png filter=lfs diff=lfs merge=lfs -text
resources/skin/ranking-title.png filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-autoplay.png filter=lfs diff=lfs merge=lfs -text
resources/skin/sliderb.png filter=lfs diff=lfs merge=lfs -text
resources/skin/spinner-bottom.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-normal-hitclap.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/menuback.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/pippidonkiai0.png filter=lfs diff=lfs merge=lfs -text
resources/skin/star2.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-drum-outer.png filter=lfs diff=lfs merge=lfs -text
resources/skin/menu-background.jpg filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-key2.png filter=lfs diff=lfs merge=lfs -text
resources/skin/scorebar-kidanger2.png filter=lfs diff=lfs merge=lfs -text
resources/skin/menuclick.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/normal-hitclap.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-relax2.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-normal-hitfinish.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-nofail.png filter=lfs diff=lfs merge=lfs -text
resources/skin/spinner-middle.png filter=lfs diff=lfs merge=lfs -text
resources/skin/ranking-S.png filter=lfs diff=lfs merge=lfs -text
resources/skin/scorebar-kidanger.png filter=lfs diff=lfs merge=lfs -text
resources/skin/lighting.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-hit100k.png filter=lfs diff=lfs merge=lfs -text
resources/skin/hit300k.png filter=lfs diff=lfs merge=lfs -text
resources/skin/normal-sliderslide.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/hit300k-0.png filter=lfs diff=lfs merge=lfs -text
resources/skin/menu-button-background.png filter=lfs diff=lfs merge=lfs -text
resources/skin/score-x.png filter=lfs diff=lfs merge=lfs -text
resources/skin/scorebar-bg.png filter=lfs diff=lfs merge=lfs -text
resources/skin/score-percent.png filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-flashlight.png filter=lfs diff=lfs merge=lfs -text
resources/skin/ready.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/score-7.png filter=lfs diff=lfs merge=lfs -text
resources/skin/ranking-XH.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-slider.png filter=lfs diff=lfs merge=lfs -text
resources/skin/button-middle.png filter=lfs diff=lfs merge=lfs -text
resources/skin/ranking-C.png filter=lfs diff=lfs merge=lfs -text
resources/skin/drum-sliderwhistle.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/fruit-orange-overlay.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-slider@2x.png filter=lfs diff=lfs merge=lfs -text
resources/skin/drum-sliderslide.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/scorebar-colour.png filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-suddendeath.png filter=lfs diff=lfs merge=lfs -text
resources/skin/skin.ini filter=lfs diff=lfs merge=lfs -text
resources/skin/drum-hitnormal.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/ranking-A.png filter=lfs diff=lfs merge=lfs -text
resources/skin/fruit-drop-overlay.png filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-hidden.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-glow.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-soft-hitwhistle.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/drum-hitclap.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/fail-background.png filter=lfs diff=lfs merge=lfs -text
resources/skin/section-fail.png filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-cinema.png filter=lfs diff=lfs merge=lfs -text
resources/skin/followpoint-1.png filter=lfs diff=lfs merge=lfs -text
resources/skin/sliderscorepoint.png filter=lfs diff=lfs merge=lfs -text
resources/skin/ranking-A-small.png filter=lfs diff=lfs merge=lfs -text
resources/skin/score-dot.png filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-key3.png filter=lfs diff=lfs merge=lfs -text
resources/skin/soft-hitclap.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/spinner-approachcircle.png filter=lfs diff=lfs merge=lfs -text
resources/skin/comboburst.png filter=lfs diff=lfs merge=lfs -text
resources/skin/pause-retry.png filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-key9.png filter=lfs diff=lfs merge=lfs -text
resources/skin/sliderfollowcircle.png filter=lfs diff=lfs merge=lfs -text
resources/skin/hitcircleselect.png filter=lfs diff=lfs merge=lfs -text
resources/skin/ranking-C-small.png filter=lfs diff=lfs merge=lfs -text
resources/skin/sliderpoint10.png filter=lfs diff=lfs merge=lfs -text
resources/skin/hit0.png filter=lfs diff=lfs merge=lfs -text
resources/skin/normal-hitclap2.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-key5.png filter=lfs diff=lfs merge=lfs -text
resources/skin/selection-mod-spunout.png filter=lfs diff=lfs merge=lfs -text
resources/skin/sliderb0.png filter=lfs diff=lfs merge=lfs -text
resources/skin/soft-sliderslide.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/volume-bg.png filter=lfs diff=lfs merge=lfs -text
resources/skin/fruit-apple.png filter=lfs diff=lfs merge=lfs -text
resources/skin/ranking-panel.png filter=lfs diff=lfs merge=lfs -text
resources/skin/score-9.png filter=lfs diff=lfs merge=lfs -text
resources/skin/spinner-middle2.png filter=lfs diff=lfs merge=lfs -text
resources/skin/count2s.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/pause-replay.png filter=lfs diff=lfs merge=lfs -text
resources/skin/gos.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/ranking-X.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-bar-right-glow.png filter=lfs diff=lfs merge=lfs -text
resources/skin/cursortrail.png filter=lfs diff=lfs merge=lfs -text
resources/skin/fonts filter=lfs diff=lfs merge=lfs -text
resources/skin/failsound.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/fruit-pear-overlay.png filter=lfs diff=lfs merge=lfs -text
resources/skin/button-right.png filter=lfs diff=lfs merge=lfs -text
resources/skin/drum-hitwhistle.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/taikobigcircle.png filter=lfs diff=lfs merge=lfs -text
resources/skin/approachcircle.png filter=lfs diff=lfs merge=lfs -text
resources/skin/spinner-rpm.png filter=lfs diff=lfs merge=lfs -text
resources/skin/fruit-grapes-overlay.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-soft-hitnormal.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/hit100-0.png filter=lfs diff=lfs merge=lfs -text
resources/skin/hit50-0.png filter=lfs diff=lfs merge=lfs -text
resources/skin/hit300.png filter=lfs diff=lfs merge=lfs -text
resources/skin/ranking-accuracy.png filter=lfs diff=lfs merge=lfs -text
resources/skin/reversearrow.png filter=lfs diff=lfs merge=lfs -text
resources/skin/spinner-top.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-hit0.png filter=lfs diff=lfs merge=lfs -text
resources/skin/taiko-slider-fail.png filter=lfs diff=lfs merge=lfs -text
resources/skin/count3s.wav filter=lfs diff=lfs merge=lfs -text
resources/skin/hit300g.png filter=lfs diff=lfs merge=lfs -text
